/*
** Transition for all browsers START
 */
/*
** TRANSFORMATION for all browsers END
 */
/*
** FLEX settings START
 */
/*
** FLEX settings END
 */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animation-duration-3 {
  animation-duration: 0.3s;
}

.root-color {
  background-image: linear-gradient(45deg, #38266d, #8478ce);
}

@-webkit-keyframes slideInUpTiny {
  0% {
    transform: translate3d(0px, 5%, 0px);
  }
  100% {
    transform: none;
  }
}
.login-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 220px 20px 20px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .login-box {
    min-height: 400px;
    padding: 0;
  }
  .login-box__toggle:checked + .login-box__image {
    left: 300px;
  }
}
@media (max-width: 767px) {
  .login-box__toggle:checked ~ .form--register {
    width: 100%;
    height: auto;
    opacity: 1;
  }
  .login-box__toggle:checked ~ .form--login {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
.login-box__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0 bottom;
  transition: 0.4s ease-in-out;
}
@media (min-width: 768px) {
  .login-box__image {
    width: 300px;
    height: 100%;
    object-position: 0 0;
  }
}

.form {
  width: 100%;
  overflow: hidden;
  text-align: left;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .form {
    width: 300px;
    padding: 0 20px;
  }
}
.form__title {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.form--login {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.form--register {
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
@media (min-width: 768px) {
  .form--register {
    width: 300px;
    height: auto;
    opacity: 1;
  }
}
.form__helper {
  position: relative;
  margin-bottom: 15px;
}
.form__helper:last-of-type {
  margin-bottom: 0;
}
.form__label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  font-family: "Lato", sans-serif;
  transition: 0.3s;
}
.form__input {
  position: relative;
  width: 100%;
  padding: 5px 0;
  margin: auto;
  color: #513da8;
}
.form__input::placeholder {
  opacity: 0;
}
.form__input:not(:placeholder-shown) + .form__label {
  bottom: 25px;
  color: #513da8;
}
.form__input:focus {
  border-bottom-color: #513da8;
}
.form__input:focus + .form__label {
  bottom: 25px;
  color: #513da8;
}
.form__button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #513da8;
  border: 0;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form__text {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
}
.form__link {
  color: #513da8;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
